/*
 */

body {
    margin: auto;
    /* font-family: monospace; */
    /* font-family: 'IBM Plex Mono', 'Menlo', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', Courier, monospace; */
    font-family: sans-serif;
    padding: 1em;
}

#topheader {
  position: fixed;
  top: 0;
}

.header {
  right: 0;
  left: 0;
  background-color: #588299;
}

#topheaderText {
  display: inline-block;
  padding-top: 0em;
  padding-bottom: 0em;
}

h1 {
  padding-left: 1em;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  color: #ffffff;
}

button {
  display: inline-block;
  /* width: 3em; */
  /* margin: auto; */
  margin: 0 1em 1em 1em;
  padding: 0.9em 0.9em 0.9em 0.9em;
  border-radius: 0px;
  color:#000000;
  background-color:#ffffff;
  border-color: #000000;
  /* border: none; */
}

button:hover {
  color:#ffffff;
  background-color:#000000;
}

/* #controls { */
/*   padding-top: 2em; */
/* } */

.container {
  /* position: absolute; */
  /* top: 0; */
  /* right: 0; */
  /* left: 0; */
  margin: 0 auto;
  height: 18em;
  padding: 1em 0 1em 0;
  /* width: 40em; */
  /* bottom: 0; */
  background-color: #333333;
  /* font-family: Roboto; */
}

.statusText {
  position: absolute;
  /* bottom: 50%; */
  /* left: 0; */
  /* right: 0; */
  /* text-align: center; */
  margin: 0 auto;
  color: #fff;
  font-size: 38px;
  width: 856px;
  overflow-x: visible;
  cursor: default;
  padding: 12px 0 0 12px;
  -webkit-user-select: none;
}

.chart {
  width: 100%;
  height: 100%;
  display: block;
}

.slider {
  width: 30em;
  /* display: inline; */
}

footer {
  right: 0;
  bottom: 0;
  left: 0;
  margin-top: 2rem;
  padding: 0.5rem;
  text-align: center;
  font-size: 0.8rem;
}

div.instructions {
  max-width: 45em;
  padding-left: 5%;
  padding-right: 5%;
  margin: auto;
}

img {
  margin: auto;
  max-width: 100%;
  display: block;
}

figcaption {
  padding: 0.5em 0em 2.5em 0em;
  text-align: center;
  font-size: 0.8em;
}
